@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    background-color: black;
    }
.layout {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    }

/*+++++++++++HEADER+++++++++++*/

.header-login {
    height: 44px;
    padding: 23px 50px;
    background-color: black;

}
.logo-group {
    display: block;
    float: left;
}

.logo {
    background-image: url("../images/logo.png");
    width: 107px;
    height: 44px;
    float: left;
    display: block;
}
.logo-div {
    display: block;
    float: left;
}

.home {
    background: url("../images/home.png")  5px 0px no-repeat;
    width: 19px;
    height: 17px;
    float: left;
    display: block;
}

.login-group {
    display: block;
    float: right;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
        }

.user {
    color: white;
    display: block;
    float: left;
    font-family: OpenSans;
    font-weight: bold;
    font-size: 14px;
    }

.logout {
    display: block;
    float: left;
    color: #f4c60b;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: OpenSans;
    font-weight: bold;

}

.user-icon {
    background: url("../images/user-icon.png")  0px 0px no-repeat;
    width: 17px;
    height: 18px;
    float: left;
    display: block;
    padding-left: 10px;
    padding-top: 2px;
}

.header-search {
    height: 80px;
    background-color: #3b3b3b;
    padding: 23px 65px;



}
.time-slider {
    display: block;
    float: left;
    width: 480px;
}

.periods {
    list-style: none;
    font-size: 12px;
    color: #bdbdbd;
    font-family: OpenSans;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 20px;
    width: 570px;
   }
.period {
    display: block;
    float:left ;
    width: 92px;
    }

#slider {
    margin-left: 30px;
}
.slider-name {
    color: #aaaaaa;
    font-size: 13px;
    display: block;
    font-family: OpenSans;
    padding-bottom: 20px;
}
.slider-pic-first {
    background: url("../images/slider-point-first.png") no-repeat 0px 0px;
    display: inline-block;
    position: relative;
    top: -10px;
    left: -15px;
    width: 20px;
    height: 20px;
}
.slider-pic {
    background: url("../images/slider-point.png") no-repeat 0px 0px;
    display: inline-block;
    position: relative;
    top: -10px;
    left: 50px;
    margin-right: 65px;
    width: 20px;
    height: 20px;
}
.slider-pic:nth-last-child {
    margin-right: 0px;
}
.slider-pic-last {
    background: url("../images/slider-point-last.png") no-repeat 0px 0px;
    display: inline-block;
    position: relative;
    top: -10px;
    left: 60px;
    width: 20px;
    height: 20px;
}

.header-calendar {
    display: block;
    float: right;
}

.date-enter {
    background: #6d6d6d url("../images/calendar.png") 110px 6px no-repeat;
    border: none;
    height: 26px;
    line-height: 26px;
    color: #ffffff;
    font-family: OpenSans-Bold;
    font-size: 10px;
    padding-left: 10px;
    width: 120px;
    font-family: OpenSans;
    font-weight: bold;
}

.refresh {
    display: block;
    float: right;
    margin-left: 5px;
    padding-left: 10px;
    width: 85px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #f4c60b url("../images/refresh.png") no-repeat 70px 3px;
    font-size: 10px;
    line-height: 26px;
    height: 26px;
    font-family: OpenSans;
    font-weight: bold;

}

.header-calendar .input {
    width: 200px;
}
/*---------HEADER----------*/


.content {
    display: block;
    height: 850px;
    background: #000000 url("../images/background.png") no-repeat;
    margin-right: auto;
    margin-left: auto;
        }

.content-layout {
    width: 1170px;
    height: 800px;
    margin-left: 65px;
    margin-right: 65px;
    padding-top: 25px;

}
.table-header {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 25px;
    }

.events-list, .events-search, .events-new {
    display: block;
   }

.events-list, .events-search {
    float: left;
    color: silver;
    border: 1px solid #ededed;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding-left: 5px;
}

.events-list {
    width: 110px;
    margin-right: 5px;
    background: url("../images/rectangle.png") no-repeat 100px 10px;
}

.events-search {
    width: 160px;
    outline: none;
    height: 28px;
    display: block;
    border-right: none;
}
.search-submit {
    display: block;
    float: left;
    width: 29px;
    height: 28px;
    line-height: 28px;
    background: url("../images/search.png") no-repeat 0px 0px;
    outline: none;
    border: none;
}

.events-new {
    background-color: #86db0e;
    display: block;
    float: right;
    width: 70px;
    height: 26px;
    line-height: 26px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.events-prew {
    background-color: #dadada;
    display: block;
    text-decoration: none;
    float: right;
    width: 70px;
    height: 26px;
    line-height: 26px;
    color: #ffffff;
    font-size: 12px;
    font-family: OpenSans;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
}

.events-next {
    background-color: #f4c60b;
    display: block;
    text-decoration: none;
    float: right;
    width: 70px;
    height: 26px;
    line-height: 26px;
    color: #ffffff;
    font-size: 12px;
    font-family: OpenSans;
    font-weight: bold;
    text-align: center;
    margin-right: 30px;
}




.events-search::-webkit-search-cancel-button {
    display: none;
}

#tabs {
    height: 800px;
    background-color: white;
}

#tabs-1 {
    background-color: #f67e10;

}
#tabs-2 {
    background-color: #79ac17;

}
#tabs-3 {
    background-color: #79ac17;

}
#tabs-4 {
    background-color: #4265d0;

}
#tabs-5 {
    background-color: white;
}
#tabs-6 {
    background-color: #747474;
}



.tabs ul a {
    text-align: center;
    width: 164px;
    height: 28px;
    line-height: 28px;
    padding: 0;

}


.tabs ul li:nth-child(1) a {
    background-color: #f67e10;
    color: #ffffff;
    border: none;
    }

.tabs ul li:nth-child(2) a {
    background-color: #79ac17;
    color: #ffffff;
    border: none;
}

.tabs ul li:nth-child(3) a {
    background-color: #79ac17;
    color: #ffffff;
    border: none;
}

.tabs ul li:nth-child(4) a {
    background-color: #4265d0;
    color: #ffffff;
    border: none;
}

.tabs ul li:nth-child(5) a {
    background-color: #f67e10;
    color: #ffffff;
    border: none
}

.tabs ul li:nth-child(6) a {
    background-color: #747474;
    color: #ffffff;
    border: none;
}



.events-image {
    background: url("../images/party-1.png") no-repeat;
    width: 53px;
    height: 53px;
    display: block;
}
.event-image {
    width: 80px;
}

.events-name {
    font-size: 16px;
    font-family: OpenSans;

    color: #838383;
    height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.events-p {
    width: 800px;
}
.events-content {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;

    color: #a0a0a0;
    padding-top: 0px;
    height: 15px;
}

.events-time, .events-date {
    font-size: 12px;
    font-family: OpenSans;
    vertical-align: top;
    text-align: right;
}
.events-date {
    text-align: right;
    width: 120px;
}
.events-time {
    width: 100px;

}

.rows {
    height: 85px;
    padding-bottom: 0px;
    padding-top: 15px;

      }
.rows-1  {
    font-size: 11px;
    color: lightgrey;
    padding-bottom: 10px;
    }
.rows-1 td {
    padding-bottom: 5px;
}
.rows-1 td:nth-child(3) {
    padding-left: 60px;
}
.rows-1 td:nth-child(4) {
    padding-left: 55px;
}
.rectangle-gray {
    background: url("../images/rectangle-gray.png") no-repeat;
    display: inline-block;
    margin-left: 5px;
    width: 10px;
    height: 6px;
    line-height: 6px;
}


.events-table td {
    vertical-align: middle;
    border-bottom: 2px solid ghostwhite;
}

.events-table tr {
    margin-right: auto;
    margin-left: auto;
}


.events-table {
    display: inline-block;
    margin-right: auto;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    }


.footer {

    padding-left: 65px;
    padding-right: 65px;
    margin-right: auto;
    margin-left: auto;
    height: 115px;
    background-color: #111111;
    padding-top: 55px;
}

.footer-contacts-group {
    display: block;
    float: left;
    margin-right: 50px;
    width: 180px;

}

.footer-contacts {
    color: #444444;
    font-family: OpenSans;
    font-weight: bold;
    font-size: 12px;

}

.footer-contacts-info {
    color: #8c8c8c;
    font-family: OpenSans;
    font-size: 13px;

}

.footer-icons {
    float: left;
    display: block;
    width: 17px;
    height: 40px;
    margin-right: 10px;
}

.icons-map {
    background: url("../images/map-pin.png") no-repeat;
}

.icons-iphone {
    background: url("../images/iphone.png") no-repeat;
}

.icons-email {
    background: url("../images/email.png") no-repeat;
    width: 28px;
}

.icons-link {
    background: url("../images/link.png") no-repeat;
    width: 20px;
}

.map-button {
    background: #444444 url("../images/map-pin-white.png") no-repeat 190px 7px;
    color: #ffffff;
    width: 220px;
    height: 26px;
    line-height: 26px;
    float: right;
    text-align: center;
    font-family: OpenSans;
    font-weight: bold;
    font-size: 12px;
    text-decoration: ;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer-contacts-info a {
   text-decoration: none;
    color: #8c8c8c;
    font-family: OpenSans;
    font-size: 13px;
}
#map {
    width: 400px;
    height: 300px;
    position: relative;
    left: 320px;
    top: -345px;
    visibility: hidden;
}